<ion-header collapse="condense">
  <ion-toolbar>
    <ion-title size="large">Fraction Calculator</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <app-fraction-input (calculate)="onCalculate($event)"></app-fraction-input>
  <ion-card *ngIf="result">
    <ion-card-header>
      <ion-card-title>Result</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ result.numerator }} / {{ result.denominator }}
    </ion-card-content>
  </ion-card>
</ion-content>